@tailwind base;
@tailwind components;
@tailwind utilities;

.clipped{
    
    clip-path: url(#myClip);
}
.clipp{
    clip-path: url(#clip);
}
.after::after{
content:'';
width:8px;
height:90%;
background-color:#059669;
position:absolute;
right:-25px;
bottom:5%;
}
#btnControl:checked + label > ul{
   display:block;

}